<!-- Neues Projekt Formular -->
<div data-ng-controller="showctrl">

<button type="button" class="btn btn-default" data-ng-click="myFunc()">neues Projekt erstellen</button>

<div data-ng-show="showMe" data-ng-controller="projektedit">
   <p></p>
  <div class="container">
 
  <form class="form-horizontal" data-ng-submit="addnewproject()">
 
   
    <div class="form-group">
      <label class="control-label col-sm-2" for="projectname">Projektname:</label>
      <div class="col-sm-6">
        <input type="text" autocomplete="off" class="form-control" data-ng-model="Projekt_TITLE" id="projectname" placeholder="Projektname eingeben.">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="projectdescription">Beschreibung:</label>
      <div class="col-sm-6">          
        <input type="text" autocomplete="off" class="form-control" data-ng-model="Projekt_DESC" id="projectdescription" placeholder="Projektbeschreibung eingeben">
      </div>
    </div>
     
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-default" data-ng-click="myFunc()">speichern <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
      </div>
    </div>
    Message:{{message}}
  </form>
</div>
    
    
</div>


<p></p>

</div>