<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Item Detail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<form action="#" th:action="${postAction}" method="post" th:object="${itemDetail}">
	
		<input type="hidden" name="itemDetail.id" th:value="*{id}" /> 
		<label>Item:</label> <input type="text" name="itemDetail.name" th:value="*{name}" /> 
		<label>Quantity:</label> <input type="text" name="itemDetail.quantity" th:value="*{quantity}" />
		<input type="submit" />
	
	</form>
	
	<a href="/">Zurück</a>

</body>
</html>