<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>List Manager</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.min.css" />
	

</head>

<body>
	<h1>Hallo Marino, schön möchtisch du mini Liste fülle</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Menge</th>
		</tr>
		<tr th:each="item : ${list}">
			<td th:text="${item.getName()}">Ding 1</td>
			<td th:text="${item.getQuantity()}">99</td>
			<td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
			<td><a href="" th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>

		</tr>
	</table>

	<a href="/item" class="btn btn-default">neues Item erstellen</a>
	
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>	

</body>
</html>